
    <p id="iniLogin"></p>

    <video autoplay muted loop src="hujan1.mp4"></video>
    
    <div class="container">
        <form method="POST" action="/login">
            <div class="form-input">
                <h1>Login Form</h1>
                <div class="login-container">
                    <h4>username</h4>
                    <input type="text" id="loginUser" placeholder="Nama" name="nama">
                    <p id="emptyUser"></p>
                </div>
                <div class="login-container">
                    <h4>password</h4>
                    <input type="password" id="loginPassword" placeholder="password" name="password">
                    <p id="emptyPassword"></p>
                </div>
                
                
    
                <button id="loginBtn" type="submit">Login</button>
                <p>Belum Punya Akun? <a href="/register">Daftar</a></p>
            </div>
        </form>
        
    </div>



