
    <div class="container">
        <div class="raw">
            
            <!-- layar kiri -->
        <div class="screen">
            <p>Capturing Every Moments</p>
            <img src="screen.jpg" alt="">
        </div>

        <!-- layar kanan -->
            <form method="POST" action="/login">
                <div class="form-input">
                    <h1>Login Form</h1>
                    <div class="login-container">
                        <input type="text" id="loginUser" placeholder="Nama" name="nama">
                        <p id="emptyUser"></p>
                    </div>
                    <div class="login-container">
                        <input type="password" id="loginPassword" placeholder="password" name="password">
                        <p id="emptyPassword"></p>
                    </div>
                    <button id="loginBtn" type="submit">Login</button>
                    <p>Belum Punya Akun? <a href="/register">Daftar</a></p>
                </div>
            </form> 

        </div>
    </div>



