

<div class="container">
    <div class="raw">
        
        <!-- layar kiri -->
    <div class="screen">
        <p>Capturing Every Moments</p>
        <img src="screen2.jpg" alt="">
    </div>

    <!-- layar kanan -->
        <form method="POST" action="/register">
            <div class="form-input">
                <h1>Register Form</h1>
                <div class="login-container">
                    <input type="text" placeholder="Nama" id="username" name="nama">
                    <p id="emptyUser"></p>
                </div>
                <div class="login-container">
                    <input type="password" placeholder="password" id="password" name="password">
                    <p id="emptyPassword"></p>
                </div>
                <button id="registerBtn" type="submit">Register</button>
            </div>
        </form> 

    </div>
</div>







 
 

 


