*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-color : #2C2638;
    --register-bg:#C3D9C7;
    --register-form: #C3C9B3;
    --form-color: #3C364C;
    --text-color: #fff;
    --btn-color: #0625D0;
    --h1-color: rgb(231, 220, 220);
}



body {
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* LOGIN & register */

video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
}

.container .raw{
    display: flex;
    width: 100%;
}

.container .screen{
    height: 200px;
    width: 200px;
    width: 50%;
    height: 100vh;
}

.container .screen img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container .screen p{
    position: absolute;
    color: var(--text-color);
    bottom: 0;
    font-size: 2rem;
    
}

.container .form-input{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container form{
    background-color: var(--background-color);
    flex-direction: column;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.container h1{
    color: var(--h1-color);
}


.container .form-input input{
    width: 70%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    background-color: var(--form-color);
    border-radius: 7px;
    padding: 20px;
    color: var(--text-color);
    font-weight: bold;
}

.container .form-input button{
    border: none;
    width: 150px;
    height: 30px;
    color: var(--text-color);
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--btn-color);
    margin: 10px 0;
    cursor: pointer;
}

.container .login-container{
    width: 100%;
    margin: 10px;
}

.container .login-container p{
    color: red;
    padding: 0 0 5px 10px;
    display: none;
}

.container .login-container h4{
    padding: 0 0 5px 10px;
}

.container .login-container input{
    width: 100%;
}

.container p {
    margin: 10px;
    font-weight: bold;
}


@media (max-width:600px){
    
    .container .raw{
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: scroll;
    }

    .container .screen{
        height: 40%;
    }


    .container .screen, .container form{
        width: 100%;
    }

    .container .screen p{
        display: none;
    }

}


